{% extends "base.html" %}

{% block title %}Posts{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4 text-center">Blog Posts</h1>
    <ul class="list-group">
        {% for article in articles %}
            <li class="list-group-item">
                <a href="{{ url_for('routes.post', article_id=article['id']) }}" class="text-decoration-none">
                    {{ article['title'] }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
